.task-form{
    width: 100%;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-form__form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-form__input{
    font-size: 1.5rem;
    padding: 0.3em;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom:2px solid #0e0463;
}

.task-form__input:hover{
    box-shadow: 0 0 0.5em #0e0463;
}

.task-form__textarea{
    font-size: 1.2rem;
    background-color: rgba(14, 4, 99,0.5);
    color: white;
}

.task-form__button{
    width: 100%;
    max-width: 150px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0 auto;
    color: #0e0463;
}